
.btn-holder {
    background-color: #98ff98; 
    padding: 10px; 
    text-align: center; 
}
body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f0fff0; 
}

div {
    text-align: center;
    position: relative; 
}

#search-bar, #menu, button {
    margin-top: 10px; 
    margin-bottom: 10px; 
    display: inline-block; 
}

#csv-button {
    position: relative;
    justify-content: right;
    top: 10px;
    right: 10px; 
    margin-left: 20px; 
}

#json-button {
    position: relative;
    top: 10px;
    right: 10px; 
    margin-left: 20px; 
}

input[type="text"], select {
    padding: 8px; 
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}
